{% extends 'galeria/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block nav %} {% include 'galeria\partials\_navcategorias.html' %} {% endblock %}

{% block content %}
  <main>
    <div class="container-fluid pt-5">
      <!-- Postagens -->    
      <div class="container-fluid ps-4"> 
        {% for postagem in postagens %}       
        <div class="p-3 mb-3">
          <div class="row g-0">
            {% if postagem.imagem %}
             <div class="container-fluid ps-4">
                <img src="{{postagem.imagem.url}}" class="img-fluid imagem_post" alt="Imagem da postagem">
             </div>
            {% endif %}
            <div class="col-md-8">
              <div class="card-body ms-2">
                <h5 class="card-title font-titulos h1">{{ postagem.titulo }}</h5>
                <div class="mt-2 mb-2">
                    <small class="text-bg-light font-titulos text-secondary">{{ postagem.dt_criacao }}</small>
                    <small class="text-bg-light font-titulos text-primary ms-3">{{ postagem.categoria }}</small>
                </div>
                <p class="card-text fs-5 pt-3">{{ postagem.descricao }}</p>
                  <div class="">
                      <a href="{% url 'postagem_detalhada' pk=postagem.pk %}" class="btn btn-outline-primary">Confira na íntegra</a>
                  </div> 
                </div>
              </div>
            </div>    
          </div>
        </div>
        <hr>
       {% endfor %}
      </div>
      <!-- Paginação-->
      <div class="container-fluid ms-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if postagens.has_previous %}
              <li class="page-item"><a class="page-link" href="?pagina=1">First</a></li>
              <li class="page-item"><a class="page-link" href="?pagina={{ postagens.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for num_pagina in postagens.paginator.page_range %}
              <li class="page-item{% if num_pagina == postagens.number %} active{% endif %}">
                <a class="page-link" href="?pagina={{ num_pagina }}">{{ num_pagina }}</a>
              </li>
            {% endfor %}
            {% if postagens.has_next %}
              <li class="page-item"><a class="page-link" href="?pagina={{ postagens.next_page_number }}">Next</a></li>
              <li class="page-item"><a class="page-link" href="?pagina={{ postagens.paginator.num_pages }}">Last</a></li>
            {% endif %}
          </ul>
        </nav>
    </div>
    </div>
  </main>
{% endblock %}
